body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}

section,
header,
main,
article,
aside,
ins,
nav {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  border: 0;
  word-wrap: break-word;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

em,
i {
  font-style: normal;
  text-align: left;
  font-size: inherit;
}

html,
body,
img,
iframe {
  border: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

input:focus,
textarea:focus,
span:focus,
a:focus,
button:focus {
  outline: none;
}

li,
s {
  list-style: none;
}

img,
.txt {
  border: 0;
}

mark {
  background: none;
}

[hidefocus] {
  outline: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
a,
a *,
.f-hand,
.f-hand * {
  cursor: pointer;
}
